[Desktop Entry]
Exec=distro-release-notifier
Name=Distribution Release Notifier
Name[ca]=Notificador del llançament de la distribució
Name[ca@valencia]=Notificador del llançament de la distribució
Name[cs]=Upozornění na vydání distribuce
Name[de]=Benachrichtigung über Distributionsveröffentlichung
Name[es]=Notificador de lanzamientos de la distribución
Name[eu]=Banaketa argitalpenaren jakinarazlea
Name[fi]=Jakelujulkaisuilmoitin
Name[fr]=Notification de publication d'une nouvelle version de la distribution
Name[gl]=Notificador de publicación de distribución
Name[hu]=Disztribúciófrissítés-értesítő
Name[id]=Penotifikasi Rilis Distribusi
Name[it]=Notificatore del rilascio della distribuzione
Name[nl]=Melder van uitgave van een distributie
Name[nn]=Utgåvevarslar for distribusjonar
Name[pl]=Powiadomienia o wydaniach dystrybucji
Name[pt]=Notificação de Versões da Distribuição
Name[pt_BR]=Notificador de lançamento de distribuição
Name[ru]=Уведомления о наличии новых выпусков
Name[sv]=Underrättelse om distributionsutgåva
Name[uk]=Засіб сповіщення про випуски дистрибутивів
Name[x-test]=xxDistribution Release Notifierxx
Name[zh_CN]=发行版通知工具
Name[zh_TW]=發行版釋出版本通知工具
OnlyShowIn=KDE;
Type=Application
X-KDE-StartupNotify=false
