# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2020 Harald Sitter <sitter@kde.org>
[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1
# NOTE: The lib name must not contain hyphens, the dbus object path is derived from it.
X-KDE-Library=distroreleasenotifier
Icon=system-software-update

Name=Operating System Release Notifier
Name[az]=Əməliyyat Sistemi Buraxılışı Bildirişi
Name[ca]=Notificador del llançament del sistema operatiu
Name[ca@valencia]=Notificador del llançament del sistema operatiu
Name[el]=Ειδοποίηση νέας έκδοσης για το λειτουργικό σύστημα
Name[en_GB]=Operating System Release Notifier
Name[es]=Notificador de lanzamientos del sistema operativo
Name[eu]=Sistema eragilearen argitalpen jakinarazlea
Name[fi]=Käyttöjärjestelmän julkaisuilmoitin
Name[fr]=Notificateur de publication d'une nouvelle version de la distribution.
Name[hu]=Operációs rendszerfrissítés-értesítő
Name[id]=Operating System Release Notifier
Name[it]=Notificatore di rilasci del sistema operativo
Name[nl]=Melder van uitgave van besturingssysteem
Name[nn]=Varslar for oppgraderingar av operativsystem
Name[pa]=ਓਪਰੇਟਿੰਗ ਸਿਸਟਮ ਰੀਲਿਜ਼ ਬਾਰੇ ਸੂਚਕ
Name[pl]=Powiadomienia o wydaniach dystrybucji
Name[pt]=Notificação de Versões da Distribuição
Name[pt_BR]=Notificador de lançamento do sistema operacional
Name[ru]=Уведомления о наличии новых выпусков
Name[sl]=Operating System Release Notifier
Name[sv]=Underrättelse om operativsystemutgivning
Name[uk]=Засіб сповіщення про випуски операційних систем
Name[x-test]=xxOperating System Release Notifierxx
Comment=Checks for new system releases and notifies when available
Comment[az]=Sistemin yeni buraxılışlarını yoxlamaq və mövcud olduqda onları bildirmək
Comment[ca]=Comprova si hi ha algun llançament nou del sistema i notifica quan està disponible
Comment[ca@valencia]=Comprova si hi ha algun llançament nou del sistema i notifica quan està disponible
Comment[el]=Ελέγχει για νέες εκδόσεις του συστήματος και ειδοποιεί όταν είναι διαθέσιμες
Comment[en_GB]=Checks for new system releases and notifies when available
Comment[es]=Comprueba si hay nuevos lanzamientos del sistema y los notifica cuando estos están disponibles
Comment[eu]=Sistemaren argitalpen berririk dagoen ikuskatu eta dagoenean jakinarazten du
Comment[fi]=Tarkistaa uudet järjestelmäjulkaisut ja ilmoittaa jos niitä on saatavilla
Comment[fr]=Vérifie la présence de nouvelles versions du système et envoie des notifications lorsque disponible.
Comment[hu]=Új rendszerkiadások keresése és értesítés azokról, ha elérhetőek
Comment[id]=Pemeriksaan untuk rilis sistem yang baru dan penotifikasi ketika tersedia
Comment[it]=Controlla nuovi rilasci del sistema e notifica quando sono disponibili
Comment[nl]=Controleert op nieuwe systeemuitgaven en meldingen indien beschikbaar
Comment[nn]=Ser etter og varslar om nye systemutgåver
Comment[pl]=Sprawdza dostępność nowych wydań systemu i powiadamia o nich
Comment[pt]=Verifica as novas versões do sistema e notifica quando estiverem disponíveis
Comment[pt_BR]=Verifica por novos lançamentos do sistema e notifica quando disponível
Comment[ru]=Проверка наличия новых выпусков системы
Comment[sl]=Preverja, ali so na voljo nove izdaje sistema in obvešča, ko so na voljo
Comment[sv]=Söker efter nya systemutgåvor och underrättar när de är tillgängliga
Comment[uk]=Шукати нові випуски системи і сповіщає щодо їхньої наявності
Comment[x-test]=xxChecks for new system releases and notifies when availablexx
