[Desktop Entry]
Name=distroreleasenotifier
Name[az]=distroreleasenotifier
Name[ca]=distroreleasenotifier
Name[ca@valencia]=distroreleasenotifier
Name[de]=distroreleasenotifier
Name[es]=distroreleasenotifier
Name[et]=distroreleasenotifier
Name[eu]=distroreleasenotifier
Name[fi]=jakelujulkaisuilmoitin
Name[fr]=distroreleasenotifier
Name[gl]=distroreleasenotifier
Name[hu]=Disztribúciófrissítés-értesítő
Name[id]=distroreleasenotifier
Name[it]=notificatore del rilascio della distro
Name[ko]=distroreleasenotifier
Name[lt]=distroreleasenotifier
Name[nl]=distroreleasenotifier
Name[nn]=distroreleasenotifier
Name[pl]=distroreleasenotifier
Name[pt]=distroreleasenotifier
Name[pt_BR]=distroreleasenotifier
Name[ru]=distroreleasenotifier
Name[sk]=distroreleasenotifier
Name[sl]=distroreleasenotifier
Name[sv]=distroreleasenotifier
Name[uk]=distroreleasenotifier
Name[x-test]=xxdistroreleasenotifierxx
Name[zh_CN]=distroreleasenotifier
Name[zh_TW]=distroreleasenotifier
Exec=distroreleasenotifier
Icon=distroreleasenotifier
Type=Application
GenericName=A Simple KDE Application
GenericName[az]=Sadə KDE tətbiqi
GenericName[ca]=Una aplicació senzilla per al KDE
GenericName[ca@valencia]=Una aplicació senzilla per al KDE
GenericName[cs]=Jednoduchá aplikace pro KDE
GenericName[de]=Eine einfache KDE-Anwendung
GenericName[es]=Una aplicación sencilla de KDE
GenericName[et]=Lihtne KDE rakendus
GenericName[eu]=KDE aplikazio xume bat
GenericName[fi]=Yksinkertainen KDE-sovellus
GenericName[fr]=Une application simple pour KDE
GenericName[gl]=Unha aplicación simple de KDE
GenericName[hu]=Egyszerű KDE alkalmazás
GenericName[id]=Sebuah Apliksi KDE Sederhana
GenericName[it]=Una semplice applicazione KDE
GenericName[ko]=간단한 KDE 프로그램
GenericName[lt]=Paprasta KDE programa
GenericName[nl]=Een eenvoudige KDE toepassing
GenericName[nn]=Eit enkelt KDE-program
GenericName[pl]=Prosty program KDE
GenericName[pt]=Uma Aplicação Simples para o KDE
GenericName[pt_BR]=Um aplicativo simples do KDE
GenericName[ru]=Простое приложение KDE
GenericName[sk]=Jednoduchá KDE aplikácia
GenericName[sl]=Enostavni KDE program
GenericName[sv]=Ett enkelt KDE-program
GenericName[uk]=Проста програма для KDE
GenericName[x-test]=xxA Simple KDE Applicationxx
GenericName[zh_CN]=简单的 KDE 应用程序
GenericName[zh_TW]=簡單的 KDE 應用程式
