[Desktop Entry]
Name=distroreleasenotifier
Name[ast]=distroreleasenotifier
Name[ca]=distroreleasenotifier
Name[ca@valencia]=distroreleasenotifier
Name[fr]=distroreleasenotifier
Name[id]=distroreleasenotifier
Name[nl]=distroreleasenotifier
Name[pl]=distroreleasenotifier
Name[pt]=distroreleasenotifier
Name[pt_BR]=distroreleasenotifier
Name[sk]=distroreleasenotifier
Name[sv]=distroreleasenotifier
Name[uk]=distroreleasenotifier
Name[x-test]=xxdistroreleasenotifierxx
Exec=distroreleasenotifier
Icon=distroreleasenotifier
Type=Application
GenericName=A Simple KDE Application
GenericName[ast]=Una aplicación cenciella de KDE
GenericName[ca]=Una aplicació senzilla pel KDE
GenericName[ca@valencia]=Una aplicació senzilla pel KDE
GenericName[fr]=Une application simple pour KDE
GenericName[id]=Sebuah Apliksi KDE Sederhana
GenericName[nl]=Een eenvoudige KDE toepassing
GenericName[pl]=Prosty program KDE
GenericName[pt]=Uma Aplicação Simples para o KDE
GenericName[pt_BR]=Um aplicativo simples do KDE
GenericName[sk]=Jednoduchá KDE aplikácia
GenericName[sv]=Ett enkelt KDE-program
GenericName[uk]=Проста програма для KDE
GenericName[x-test]=xxA Simple KDE Applicationxx
